#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1499084732479-de2c02d45fcc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YWxvbmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
}
